<!-- NAVBAR -->
<div class="container">
  <ul class="nav justify-content-center align-items-center fixed-top">
    <li class="nav-item">
      <a class="nav-link active" href="/welcome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link logo" href="#">LOGO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link notactive" href="#">Reservation</a>
    </li>
  </ul>
 </div>
 <!-- end navbar -->