<%- include('_header') %>

<%- include('_nav') %>

  	<!-- MAIN HEADER -->
  	<div class="main-header">
  		<div class="container text-center main-header-caption">
			<h2 class="text-responsive">Search, Find, Reserved!</h2>
			<a href="#"><button type="button" class="btn reserve">Reserve Now</button></a>
		</div>
	</div><!-- end main-header -->

	<!-- FAST RESERVE FORM -->
	<div class="container fast-reserve">
		<form class="form-inline justify-content-center">
			<div class="form-group">
				<fieldset>
					<label for="dateInput" class="text-center col-form-label">Date</label>
						<div class="col">
			    			<input class="form-control" type="date" value="" id="dateInput">
			  			</div>
			  	</fieldset>
				<fieldset>
					<label for="timeInput" class="text-center col-form-label">Time</label>
					<div class="col">
				    	<input class="form-control" type="time" value="" id="timeInput">
				  	</div>
				</fieldset>
				<fieldset>
					<div class="col">
					    <label for="inputSelect" class="col-form-label">Guest</label>
					    <select class="custom-select">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
			    	</div>
			    </fieldset>
	  		</div>
	  		<a href="reservation.html"><button class="btn availability" type="submit">Check Availability</button></a>
		</form> <!-- end form -->
	</div>

	<!-- POPULAR SEARCHES -->
	<div class="container section">
		<h3 class="text-center">POPULAR SEARCHES</h3>
		<figure class="figure col-xs hvr-float-shadow" id="figure-margin">
			<a href="reservation.html"><img src="img/popular-searches-1.jpg" class="figure-img img-fluid rounded" alt="Image"></a>
			<figcaption class="figure-caption text-center">Klinik Kopi Om Dokter</figcaption>
		</figure>
		<figure class="figure col-xs hvr-float-shadow" id="figure-margin">
			<a href="reservation.html"><img src="img/popular-searches-2.jpg" class="figure-img img-fluid rounded" alt="Image"></a>
			<figcaption class="figure-caption text-center">Warkop 212</figcaption>
		</figure>
		<figure class="figure col-xs hvr-float-shadow" id="figure-margin">
			<a href="reservation.html"><img src="img/popular-searches-1.jpg" class="figure-img img-fluid rounded" alt="Image"></a>
			<figcaption class="figure-caption text-center">Klinik Kopi Om Dokter</figcaption>
		</figure>
		<figure class="figure col-xs hvr-float-shadow">
			<a href="reservation.html"><img src="img/popular-searches-2.jpg" class="figure-img img-fluid rounded" alt="Image"></a>
			<figcaption class="figure-caption text-center">Warkop 212</figcaption>
		</figure>
	</div><!-- end popular searches -->

	<!-- CATEGORIES -->
	<div class="container-fluid">
	    <div class="row section">
	        <div class="col-md-4 single-img" >
	           	<img src="img/restaurant.jpg" alt="restaurant">
	            <div class="img-overlay text-center">
	                <h3>restaurant</h3>
	                <a href="#" class="btn reserve">SEE MORE</a>
	            </div>
	        </div>
	        <div class="col-md-4 single-img">
	            <img src="img/coffee-shop.jpg" alt="coffee shop">
	            <div class="img-overlay text-center">
	                <h3>coffee shop</h3>
	                <a href="#" class="btn reserve">SEE MORE</a>
	            </div>
	        </div>
	        <div class="col-md-4 single-img">
	            <img src="img/snacks.jpg" alt="snacks/dessert">
	            <div class="img-overlay text-center">
	                <h3>dessert</h3>
	                <a href="#" class="btn reserve">SEE MORE</a>
	            </div>
	        </div>
	    </div>
	</div>  <!-- end categories-->


<%- include('_footer') %>

