<%- include('_header') %>

<%- include('_nav') %>

<!-- NAVBAR -->
	<div class="container">
		<ul class="nav justify-content-center align-items-center fixed-top">
	  		<li class="nav-item">
	    		<a class="nav-link active" href="index.html">Home</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link logo" href="index.html">LOGO</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link notactive" href="reservation-singlepage.html">Reservation</a>
	  		</li>
	  	</ul>
	 </div><!-- end navbar -->

  	<!-- MAIN HEADER -->
  	<div class="main-header">
  		<div class="container text-center main-header-caption">
			<h2 class="text-responsive">Search, Find, Reserved!</h2>
			<a href="#"><button type="button" class="btn reserve">Reserve Now</button></a>
		</div>
	</div><!-- end main-header -->

	<!-- FAST RESERVE FORM -->
	<div class="container fast-reserve">
		<form class="form-inline justify-content-center">
			<div class="form-group">
				<fieldset>
					<label for="dateInput" class="text-center col-form-label">Date</label>
						<div class="col">
			    			<input class="form-control" type="date" value="" id="dateInput">
			  			</div>
			  	</fieldset>
				<fieldset>
					<label for="timeInput" class="text-center col-form-label">Time</label>
					<div class="col">
				    	<input class="form-control" type="time" value="" id="timeInput">
				  	</div>
				</fieldset>
				<fieldset>
					<div class="col">
					    <label for="inputSelect" class="col-form-label">Guest</label>
					    <select class="custom-select">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
			    	</div>
			    </fieldset>
	  		</div>
	  		<a href="reservation.html"><button class="btn availability" type="submit">Check Availability</button></a>
		</form> <!-- end form -->
	</div>

	<!-- POPULAR SEARCHES -->
	<div class="container section">
		<h3 class="text-center">POPULAR SEARCHES</h3>
		<figure class="figure col-xs" id="figure-margin">
			<img src="img/popular-searches-1.jpg" class="figure-img img-fluid rounded" alt="Image">
			<figcaption class="figure-caption text-center">Klinik Kopi Om Dokter</figcaption>
		</figure>
		<figure class="figure col-xs" id="figure-margin">
			<img src="img/popular-searches-2.jpg" class="figure-img img-fluid rounded" alt="Image">
			<figcaption class="figure-caption text-center">Warkop 212</figcaption>
		</figure>
		<figure class="figure col-xs" id="figure-margin">
			<img src="img/popular-searches-1.jpg" class="figure-img img-fluid rounded" alt="Image">
			<figcaption class="figure-caption text-center">Klinik Kopi Om Dokter</figcaption>
		</figure>
		<figure class="figure col-xs">
			<img src="img/popular-searches-2.jpg" class="figure-img img-fluid rounded" alt="Image">
			<figcaption class="figure-caption text-center">Warkop 212</figcaption>
		</figure>
	</div><!-- end popular searches -->

	<!-- CATEGORIES -->
	<div class="row section">
		<div class="container col-md-4 restaurant" id="categories-container">
			<h3 class="categories text-center">restaurant</h3>
			<a href="#"><button type="button" class="btn see">see more</button></a>
		</div>
		<div class="container col-md-4 coffee" id="categories-container">
			<h3 class="categories text-center">coffee shop</h3>
			<a href="#"><button type="button" class="btn see">see more</button></a>
		</div>
		<div class="container col-md-4 snacks" id="categories-container">
			<h3 class="categories text-center">dessert</h3>
			<a href="#"><button type="button" class="btn see">see more</button></a>
		</div>
	</div>  <!-- end categories-->
<%- include('_footer') %>

